@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add Ingredient</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.Label("Ingredient")
  @Html.DropDownList("IngredientId")
  <br />

  <input type="submit" value="Add Ingredient" />
  <br>

  <p>@Html.ActionLink("Back to List", "Index")</p>
}