@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add Tag</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.Label("Tag")
  @Html.DropDownList("TagId")
  <br />

  <input type="submit" value="Add Tag" />

  <p>@Html.ActionLink("Back to List", "Index", "Recipes", null, new { @class = "btn btn-light" })</p>
}