div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

body {
	/* background-image: url("../img/recipe.jpeg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: auto;
	background-attachment: fixed;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
}

div#navbar {
	margin-bottom: 20px;
}