@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h2>Add Recipe</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.IngredientId)

  @Html.Label("Recipe")
  @Html.DropDownList("RecipeId")
  <br />

  <input type="submit" value="Add Recipe" />

  <p>@Html.ActionLink("Back to List", "Index")</p>
}